{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block title %}Search {% endblock title %}

{% block content %}
<div class="flex items-center justify-center">
    <h3>Search</h3>
    <div class="mt-3">
        <form onkeydown="return event.key != 'Enter';" method="POST">
            {% csrf_token %}
            <input type="search" name="search" id="search" placeholder="Begin Typing To Search Users..."
                hx-post="{% url 'search_post' %}" hx-trigger="keyup changed delay:500ms, search"
                hx-target="#search-results" hx-indicator=".htmx-indicator">
        </form>

    </div>

</div>

<div class="flex flex-col items-center justify-center pt-9">
    {% include 'posts/results.html' %}
</div>
</div>



{% endblock content %}