{% extends 'base.html' %}
{% load article_extras %}
{% load static %}
{% block content %}

<div class="flex flex-col items-center justify-center mx-auto min-h-screen" id="main_content">

  <h1 class="font-bold text-4xl mb-3 text-green-900">SHAP IT Knowledge Base</h1>


  


  <div class="grid grid-cols-4 gap-3 text-center">
    <!-- Internal Tools -->
    <div class="relative bg-white shadow-lg rounded-md p-6 font-semibold text-xl tracking-wide">
      <h1 class="text-2xl text-green-900 bg-gray-50 shadow p-1 rounded mb-2">Internal Tools</h1>
      <ul class="space-y-3 mb-8 list-none">


        {% for tool in tools %}
        <li class="text-green-900 text-sm tracking-tight"><a href="{% url 'view_post' tool.id %}">{{ tool.title }}</a>
        </li>
        {% endfor %}



      </ul>
   



          <a class="bg-yellow-300 p-1 rounded shadow-sm hover:bg-yellow-200 hover:text-green-800 absolute bottom-0 right-0 m-2 flex items-center text-lg" href="{% url 'all_post' 2 %}">
           <h5 class="font-semibold tracking-normal">Go to page</h5></a>
     

    </div>
    <!-- Internal Tools -->


    <!-- Network -->
    <div class="relative bg-white shadow-lg rounded-md p-6 font-semibold text-xl tracking-wide">
      <h1 class="text-2xl text-green-900 bg-gray-50 shadow p-1 rounded mb-2">Network</h1>
      <ul class="space-y-3 mb-8 list-none">

        {% for network in networks %}
        <li class="text-green-900 text-sm tracking-tight"><a
            href="{% url 'view_post' network.id %}">{{ network.title }}</a></li>
        {% endfor %}


      </ul>
      

       
    

          <a class="bg-yellow-300 p-1 rounded shadow-sm hover:bg-yellow-200 hover:text-green-800 absolute bottom-0 right-0 m-2 flex items-center text-lg"  href="{% url 'all_post' 1 %}">
            <h5 class="font-semibold tracking-normal">Go to page</h5>
          </a>
      

    </div>
    <!-- Network -->

    <!-- Nas -->
    <div class="relative bg-white shadow-lg rounded-md p-6 font-semibold text-xl tracking-wide">
      <h1 class="text-2xl text-green-900 bg-gray-50 shadow p-1 rounded mb-2">NAS</h1>
      <ul class="space-y-3 mb-8 list-none">

        {% for na in nas %}
        <li class="text-green-900 text-sm tracking-tight"><a href="{% url 'view_post' na.id %}">{{ na.title }}</a></li>
        {% endfor %}


      </ul>
      

       
    

          <a class="bg-yellow-300 p-1 rounded shadow-sm hover:bg-yellow-200 hover:text-green-800 absolute bottom-0 right-0 m-2 flex items-center text-lg"  href="{% url 'all_post' 3 %}">
            <h5 class="font-semibold tracking-normal">Go to page</h5>
          </a>
      

    </div>
    <!-- Nas -->

    <!-- Workstations -->
    <div class="relative bg-white shadow-lg rounded-md p-6 font-semibold text-xl tracking-wide">
      <h1 class="text-2xl text-green-900 bg-gray-50 shadow p-1 rounded mb-2">Workstations</h1>
      <ul class="space-y-3 mb-8 list-none">



        {% for work in workstation %}
        <li class="text-green-900 text-sm tracking-tight"><a href="{% url 'view_post' work.id %}">{{ work.title }}</a>
        </li>
        {% endfor %}



      </ul>
      

       
    

          <a class="bg-yellow-300 p-1 rounded shadow-sm hover:bg-yellow-200 hover:text-green-800 absolute bottom-0 right-0 m-2 flex items-center text-lg"  href="{% url 'all_post' 4 %}">
            <h5 class="font-semibold tracking-normal">Go to page</h5>
          </a>
      

    </div class="relative bg-white shadow-lg rounded-md p-6 font-semibold text-xl tracking-wide">
    <!-- Workstations -->

    <!-- Google Workspace -->
    <div class="relative bg-white shadow-lg rounded-md p-6 font-semibold text-xl tracking-wide">
      <h1 class="text-2xl text-green-900 bg-gray-50 shadow p-1 rounded mb-2">Google Workspace</h1>
      <ul class="space-y-3 mb-8 list-none">


        {% for go in google %}
        <li class="text-green-900 text-sm tracking-tight"><a href="{% url 'view_post' go.id %}">{{ go.title }}</a></li>
        {% endfor %}


      </ul>
      

       
    

          <a class="bg-yellow-300 p-1 rounded shadow-sm hover:bg-yellow-200 hover:text-green-800 absolute bottom-0 right-0 m-2 flex items-center text-lg"  href="{% url 'all_post' 5 %}">
            <h5 class="font-semibold tracking-normal">Go to page</h5>
          </a>
      
    </div>
    <!-- Google Workspace -->

    <!-- Internal IT Processes -->
    <div class="relative bg-white shadow-lg rounded-md p-6 font-semibold text-xl tracking-wide">
      <h1 class="text-2xl text-green-900 bg-gray-50 shadow p-1 rounded mb-2">Internal IT Processes</h1>
      <ul class="space-y-3 mb-8 list-none">



        {% for process in processes %}
        <li class="text-green-900 text-sm tracking-tight"><a
            href="{% url 'view_post' process.id %}">{{ process.title }}</a></li>
        {% endfor %}




      </ul>
      

       
    

          <a class="bg-yellow-300 p-1 rounded shadow-sm hover:bg-yellow-200 hover:text-green-800 absolute bottom-0 right-0 m-2 flex items-center text-lg"  href="{% url 'all_post' 6 %}">
            <h5 class="font-semibold tracking-normal">Go to page</h5>
          </a>
      

    </div>
    <!-- Internal IT Processes -->

    <!-- Windows Server 2019 -->
    <div class="relative bg-white shadow-lg rounded-md p-6 font-semibold text-xl tracking-wide">
      <h1 class="text-2xl text-green-900 bg-gray-50 shadow p-1 rounded mb-2">Windows Server 2019</h1>
      <ul class="space-y-3 mb-8 list-none">



        {% for server in server_2019 %}
        <li class="text-green-900 text-sm tracking-tight"><a
            href="{% url 'view_post' server.id %}">{{ server.title }}</a></li>
        {% endfor %}




      </ul>
      

       
    

          <a class="bg-yellow-300 p-1 rounded shadow-sm hover:bg-yellow-200 hover:text-green-800 absolute bottom-0 right-0 m-2 flex items-center text-lg"  href="{% url 'all_post' 7 %}">
            <h5 class="font-semibold tracking-normal">Go to page</h5>
          </a>
      

    </div>
    <!-- Windows Server 2019 -->


    <!-- Licenses -->
    <div class="relative bg-white shadow-lg rounded-md p-6 font-semibold text-xl tracking-wide">
      <h1 class="text-2xl text-green-900 bg-gray-50 shadow p-1 rounded mb-2">Licenses</h1>
      <ul class="space-y-3 mb-8 list-none">



        {% for license in licenses %}
        <li class="text-green-900 text-sm tracking-tight"><a
            href="{% url 'view_post' license.id %}">{{ license.title }}</a></li>
        {% endfor %}




      </ul>
      

       
    

          <a class="bg-yellow-300 p-1 rounded shadow-sm hover:bg-yellow-200 hover:text-green-800 absolute bottom-0 right-0 m-2 flex items-center text-lg"  href="{% url 'all_post' 8 %}">
            <h5 class="font-semibold tracking-normal">Go to page</h5>
          </a>
      

    </div>
    <!-- Licenses -->
  </div>

</div>



{% endblock content %}