{% load tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
<head> 
   {% tailwind_css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
      </script>
    <title>{% block title %} {%endblock title %}</title>
  



</head>

<body>
    <div class="flex flex-col">
        <div class="fixed z-40 w-full flex items-center justify-center space-x-2 pt-1 ">
            <a class="left-0" href="{% url 'home' %}"><h5 class="bg-yellow-300 p-4 text-lg font-bold rounded">Home</h5></a>
            <a class="left-0" href="{% url 'create_post' %}"><h5 class="bg-yellow-300 p-4 text-lg font-bold rounded">Create Post</h5></a>
            <a class="left-0" href="{% url 'search_post' %}"><h5 class="bg-yellow-300 p-4 text-lg font-bold rounded">Search</h5></a>
    
        </div>
        
           <div>
            {% block content %}

            {% endblock content %}
           </div>
 
    </div>

 
       
</body>
</html>
